:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --primary-text-color: #757575;
  --primary-background-color: #ffffff;
  --back-color: #2f303a;
  --color-filter: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --accent-btn: #188ce8;
}

/* outline: 2px solid tomato; */
body {
  font-family: var(--main-font);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* ============= COMPONENTS ============= */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}

.logo-web {
  color: var(--accent-color);
}

.page-header__logo {
  color: #000000;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.page-footer__logo {
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-bottom: 50px;
}

.page-header--border {
  border-bottom: 1px solid #ececec;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--accent-color);

  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--accent-btn);
}

/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */

.page-header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition: color 250ms var(--timing-function);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link {
  display: flex;
  align-items: center;
  fill: currentcolor;
  transition: color 250ms var(--timing-function);
}

.contact__icon {
  margin-right: 10px;
  transition: fill 250ms var(--timing-function);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

.nav__item {
  position: relative;
}

.nav__link--current::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* ============= END HEADER ============= */

/* ============= HERO ============= */
.page-hero {
  background-color: var(--back-color);
  text-align: center;
}

.page-hero--overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-background-color);

  margin-bottom: 30px;
}

/* ============= END HERO ============= */

/* ============= FEATURES ============= */

.page-features {
  padding-top: 94px;
}

.container .features {
  display: flex;
}

.features .features__item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}

.features .features__item:last-child {
  margin-right: 0;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__logo {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-filter);
  margin-bottom: 30px;
}

/* ============= END FEATURES ============= */

/* ============= What are we doing ============= */

.page-we-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.we-doing {
  display: flex;
}

.we-doing .we-doing__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.we-doing .we-doing__item:last-child {
  margin-right: 0;
}

.we-doing__thumb {
  position: relative;
}

.we-doing__product {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.we-doing__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-background-color);
}

.we-doing__item:hover .we-doing__product {
  opacity: 1;
}

/* ============= END What are we doing ============= */

/* ============= OUR TEAM ============= */

.page-team {
  background-color: var(--color-filter);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
}

.team .team__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  background: var(--primary-background-color);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .team__item:last-child {
  margin-right: 0;
}

.team__card {
  padding: 30px 32px;
  text-align: center;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  margin-bottom: 10px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-networks {
  display: flex;
  margin-top: 16px;
}

.social-networks .social-networks__item {
  width: calc((100%-30px) / 4);
  margin-right: 10px;
}
.social-networks .social-networks__item:last-child {
  margin-right: 0;
}

.social-networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.social-networks__link:hover,
.social-networks__link:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

/* ============= END OUR TEAM ============= */

/* ============= END Regular customers ============= */

.page-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
}

.clients .clients__item {
  width: calc((100%-150px) / 6);
  margin-right: 30px;
}
.clients .clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* ============= END Regular customers ============= */

/* ============= FOOTER ============= */

.page-footer {
  background-color: var(--back-color);
}

.page-footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-background-color);
}

.page-footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin-left: 70px;
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
}

.footer-social__item {
  width: calc((100%-30px) / 4);
  margin-right: 10px;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--primary-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

.subscription {
  display: block;
  margin-left: 93px;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-background-color);
}

.subscription__form {
  display: flex;
  margin-top: 20px;
}

.subscription__email {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--back-color);
  color: rgba(255, 255, 255, 0.6);
}

.subscription__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  display: flex;
  min-width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.subscription__icon {
  margin-left: 10px;
}

/* ============= END FOOTER ============= */

/* ============= GALLERY ============= */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  display: inline-block;

  color: var(--title-color);
  background-color: var(--color-filter);
  border-radius: 4px;
  padding: 6px 22px;

  min-width: 73px;
  border-style: none;
  transition: box-shadow 250ms var(--timing-function),
    color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--accent-color);
}

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.gallery__item {
  margin: 15px;
  width: 370px;
  transition: box-shadow 250ms var(--timing-function);
}

.gallery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  padding: 20px 24px;
  background: var(--primary-background-color);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio-card__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.gallery__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.gallery__photo {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.gallery__link:hover .gallery__overlay {
  transform: translateY(0);
}

/* ============= END GALLERY  ============= */

/* ============= BACKDROP ============= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms var(--timing-function),
    pointer-events 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
  transition: transform 250ms var(--timing-function);
}

.modal-button--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-button__icon {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.modal-button--close:hover .modal-button__icon {
  fill: var(--accent-color);
}

textarea {
  resize: none;
}

.modal-form__titel {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__field {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__wrapper {
  display: block;
  margin-bottom: 10px;
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--title-color);
  transition: fill 250ms var(--timing-function);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__check-desc {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  align-items: center;
}

.modal-form__check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border 250ms var(--timing-function);
}

.modal-form__term:checked + .modal-form__check-desc::before {
  background-image: url("../images/icon-check.svg");
  background-position: center;
  border-color: transparent;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
}

.modal-form__term:focus + .modal-form__check-desc::before {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  transition: 250ms var(--timing-function);
}

.policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--accent-color);

  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  transition: background-color 250ms var(--timing-function);
}

.modal-form__button:hover,
.modal-form__button:focus {
  background-color: var(--accent-btn);
}

/* =============END BACKDROP ============= */
