:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --primary-text-color: #757575;
  --primary-background-color: #ffffff;
  --back-color: #2f303a;
  --color-filter: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --accent-btn: #188ce8;
}

/* outline: 2px solid tomato; */
body {
  font-family: var(--main-font);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* ============= COMPONENTS ============= */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}

.logo-web {
  color: var(--accent-color);
}

.logo-light-theme {
  color: #000000;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-dark-theme {
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition: color 250ms var(--timing-function);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  align-items: center;
  fill: currentcolor;
  transition: color 250ms var(--timing-function);
}

.contact-logo-mail {
  margin-right: 10px;
  transition: fill 250ms var(--timing-function);
}

.contact-logo-tel {
  margin-right: 10px;
  transition: fill 250ms var(--timing-function);
}

.contact-link:hover .contact-logo-mail,
.contact-link:focus .contact-logo-mail,
.contact-link:hover .contact-logo-tel,
.contact-link:focus .contact-logo-tel {
  fill: var(--accent-color);
}

.nav-item {
  position: relative;
}

.current::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* ============= END HEADER ============= */

/* ============= HERO ============= */
.hero {
  background-color: var(--back-color);
  text-align: center;
}

.overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-background-color);

  margin-bottom: 30px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--accent-color);

  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-btn);
  color: var(--primary-background-color);
}

/* ============= END HERO ============= */

/* ============= FEATURES ============= */

.features {
  padding-top: 94px;
}

.container .features-list {
  display: flex;
}

.features-list .features-list-item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}

.features-list .features-list-item:last-child {
  margin-right: 0;
}

.features-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
  margin-bottom: 10px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list-logo {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-filter);
  margin-bottom: 30px;
}

/* ============= END FEATURES ============= */

/* ============= What are we doing ============= */

.we-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.we-doing-list {
  display: flex;
}

.we-doing-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.we-doing-list .item:last-child {
  margin-right: 0;
}

.we-doing-thumb {
  position: relative;
}

.we-doing-product {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.product-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-background-color);
}

.item:hover .we-doing-product {
  opacity: 1;
}

/* ============= END What are we doing ============= */

/* ============= OUR TEAM ============= */

.team {
  background-color: var(--color-filter);
  padding-top: 94px;
  padding-bottom: 94px;
}

.titel {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list .team-list-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  background: var(--primary-background-color);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .team-list-item:last-child {
  margin-right: 0;
}

.team-card {
  padding: 30px 32px;
  text-align: center;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  margin-bottom: 10px;
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-team-list {
  display: flex;
  margin-top: 16px;
}

.social-team-list .social-list-item {
  width: calc((100%-30px) / 4);
  margin-right: 10px;
}
.social-team-list .social-list-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

/* ============= END OUR TEAM ============= */

/* ============= END Regular customers ============= */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list .clients-item {
  width: calc((100%-150px) / 6);
  margin-right: 30px;
}
.clients-list .clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* ============= END Regular customers ============= */

/* ============= FOOTER ============= */

.footer {
  background-color: var(--back-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.address-list-item {
  margin-bottom: 9px;
}

.address-list-item:last-child {
  margin-bottom: 0;
}

.address-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-background-color);
}

.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-icon {
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
}

.footer-icon-list-item {
  width: calc((100%-30px) / 4);
  margin-right: 10px;
}

.footer-icon-list-item:last-child {
  margin-right: 0;
}

.footer-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--primary-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}

/* ============= END FOOTER ============= */

/* ============= GALLERY ============= */

.border-header {
  border-bottom: 1px solid #ececec;
}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-list {
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.modal-btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  display: inline-block;

  color: var(--title-color);
  background-color: var(--color-filter);
  border-radius: 4px;
  padding: 6px 22px;

  min-width: 73px;
  border-style: none;
  transition: box-shadow 250ms var(--timing-function),
    color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.modal-btn-filter:hover,
.modal-btn-filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--accent-color);
}

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.gallery-list-item {
  margin: 15px;
  width: 370px;
  transition: box-shadow 250ms var(--timing-function);
}

.gallery-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  padding: 20px 24px;
  background: var(--primary-background-color);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.gallery-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
  margin-bottom: 4px;
}

.gallery-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.gallery-photo-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.gallery-photo {
  position: relative;
  overflow: hidden;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.gallery-list-link:hover .gallery-overlay {
  transform: translateY(0);
}

.subscription {
  display: block;
  margin-left: 93px;
}

.title-subscription {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-background-color);
}

.form-subscription {
  display: flex;
  margin-top: 20px;
}

.subscription-email {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--back-color);
  color: rgba(255, 255, 255, 0.6);
}

.subscription-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button-subscription {
  display: flex;
  min-width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.icon-subscription {
  margin-left: 10px;
}

/* ============= END GALLERY  ============= */

/* ============= BACKDROP ============= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms var(--timing-function),
    pointer-events 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
  transition: transform 250ms var(--timing-function);
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-button-svg {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.modal-close-button:hover .modal-button-svg {
  fill: var(--accent-color);
}

textarea {
  resize: none;
}

.titel-form-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.form-modal {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-field {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-wrapper {
  display: block;
  margin-bottom: 10px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--title-color);
  transition: fill 250ms var(--timing-function);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desc {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  align-items: center;
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border 250ms var(--timing-function);
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url("../images/icon-check.svg");
  background-position: center;
  border-color: transparent;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
}

.modal-form-term:focus + .modal-form-check-desc::before {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  transition: 250ms var(--timing-function);
}

.policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--accent-color);

  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  transition: background-color 250ms var(--timing-function);
}

.modal-form-btn:hover,
.modal-modal-btn:focus {
  background-color: var(--accent-btn);
}

/* =============END BACKDROP ============= */
