.page-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
}

.clients .clients__item {
  width: calc((100%-150px) / 6);
  margin-right: 30px;
}
.clients .clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
