.page-features {
  padding-top: 94px;
}

.features {
  display: flex;

  & .features__item {
    width: calc((100%-90px) / 4);
    margin-right: 30px;
  }

  & .features__item:last-child {
    margin-right: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-color);
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__logo {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--color-filter);
    margin-bottom: 30px;
  }
}
