.page-features {
  padding-top: 94px;
}

.container .features {
  display: flex;
}

.features .features__item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}

.features .features__item:last-child {
  margin-right: 0;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__logo {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-filter);
  margin-bottom: 30px;
}
