.gallery {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    margin: 15px;
    width: 370px;
    transition: box-shadow 250ms var(--timing-function);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.portfolio-card {
  padding: 20px 24px;
  background: var(--primary-background-color);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);
    margin-bottom: 4px;
  }

  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}

.gallery__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.gallery__photo {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  .gallery__link:hover & {
    transform: translateY(0);
  }
}
