.page-header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition: color 250ms var(--timing-function);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link {
  display: flex;
  align-items: center;
  fill: currentcolor;
  transition: color 250ms var(--timing-function);
}

.contact__icon {
  margin-right: 10px;
  transition: fill 250ms var(--timing-function);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

.nav__item {
  position: relative;
}

.nav__link--current::after {
  content: "";
  bottom: -1px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
