.page-hero {
  background-color: var(--back-color);
  text-align: center;
}

.page-hero--overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-background-color);

  margin-bottom: 30px;
}

.hero__button {
  display: inline-block;
}
