.page-we-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.we-doing {
  display: flex;
}

.we-doing__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.thumb {
  position: relative;
}

.product {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 250ms var(--timing-function);

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    /* text-align: center; */
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-background-color);
  }
}

// .we-doing__item:hover .product {
//   opacity: 1;
// }
