.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms var(--timing-function),
      pointer-events 250ms var(--timing-function),
      visibility 250ms var(--timing-function);

    & .modal {
      transform: translate(-50%, -50%) scale(0.6);
    }
  }
}
