.button {
  display: flex;
  min-width: 200px;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--accent-color);

  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);

  &--active:hover,
  &--active:focus {
    background-color: var(--accent-btn);
  }
}
