.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;

  &__accent-text {
    color: var(--accent-color);
  }

  &__theme-light {
    color: #000000;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__theme-dark {
    color: var(--primary-background-color);
    margin-bottom: 20px;
  }
}
