.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
}

.logo__accent-text {
  color: var(--accent-color);
}

.logo__theme-light {
  color: #000000;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__theme-dark {
  color: var(--primary-background-color);
  margin-bottom: 20px;
}
