.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 12px;
  }

  &__field {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
  }
}

.form-wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 12px;
    transition: border-color 250ms var(--timing-function);

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    fill: var(--title-color);
    transition: fill 250ms var(--timing-function);

    .form-wrapper__input:focus + & {
      fill: var(--accent-color);
    }
  }
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms var(--timing-function);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__check-desc {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  align-items: center;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: border 250ms var(--timing-function);

    .modal-form__term:checked + & {
      background-image: url("../images/icon-check.svg");
      background-position: center;
      border-color: transparent;
      background-color: var(--accent-color);
      background-repeat: no-repeat;
    }

    .modal-form__term:focus + & {
      border: 2px solid var(--accent-color);
      border-radius: 2px;
      transition: 250ms var(--timing-function);
    }
  }
}

.policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.form__button {
  align-self: center;
  display: inline-block;
  margin-top: 30px;
}
