.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
  transition: transform 250ms var(--timing-function);
}

.modal-button--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-button__icon {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.modal-button--close:hover .modal-button__icon {
  fill: var(--accent-color);
}
