.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  display: inline-block;

  color: var(--title-color);
  background-color: var(--color-filter);
  border-radius: 4px;
  padding: 6px 22px;

  min-width: 73px;
  border-style: none;
  transition: box-shadow 250ms var(--timing-function),
    color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--accent-color);
}
