:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --primary-text-color: #757575;
  --primary-background-color: #ffffff;
  --back-color: #2f303a;
  --color-filter: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --accent-btn: #188ce8;
}
